<h1>Cards</h1>

<ul>
  <% flashcards.each do |a|  %>
		<div class="row">
		  <div class="card">
		    <div class="section">
		        <li><%= a %></li>
		    </div>
		  </div>
		</div>
  <% end %>
</ul>


 <p><a href="/new">New Form</a></p>
 <p><a href="/study">Study</a></p>

