<% @title = "Home" %>
<h1 class="index">Study Flashcards</h1>

	<div class="container">

			<ul class="flashcards">
			  <% flashcards.each do |a|  %>
			  <li><%= a %></li>
			  <% end %>
			</ul>

	</div>


