<form action="/create" method="post">
  <label>
    <input type="text" name="flashcard_front"/>
    Front
  </label>

  <label>
    <input type="text" name="flashcard_back"/>
    Back
  </label>

  <button>Save</button>
</form>
