<form action="/create" method="post">
  <label>    
    Front
  </label>
  <br />
  <input type="text" name="flashcard_front"/>
  <br />
  <label>
    Back
  </label>
  <br />
   <input type="text" name="flashcard_back"/>
  <br />
  <button>Save</button>
</form>


<p><a href="/">Home</a></p>